.container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: #545ee7; */
	/* padding: 50px; */
	border-radius: 1px;
	width: 100%;
	height: 300px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.container img {
	width: 100%;
	max-width: 1700px;
	filter: brightness(0.9);
	object-fit: contain;
}
