.discordheaders {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #0c0a20; */
	padding: 65px 40px;
}

.discord-logo {
	height: 45px;
}

.discord-nav ul {
	list-style: none;
	display: flex;
	gap: 75px;
	margin: 0;
	padding: 0;
}

.discord-nav li {
	font-size: 15px;
	font-weight: 500;
	color: white;
	cursor: pointer;
	transition: opacity 0.3s;
}

.discord-nav li:hover {
	opacity: 0.7;
}

.button-discordheaders button {
	background-color: white;
	color: black;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 15px;
	padding: 8px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	outline: none;
	box-shadow: none;
}

.button-discordheaders button:hover {
	background-color: #bfbfbf;
}
