@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

.footer-mini {
	background: linear-gradient(90deg, #4a3aff, #020c51);
	color: white;
	text-align: center;
	padding: 80px 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-containermini {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.footer-title {
	font-family: 'ABC Ginto Nord Unlicensed Trial', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.footer-subtitle {
	font-family: 'ABC Ginto Nord Unlicensed Trial', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.button-container {
	margin-top: 20px;
}

.download-button {
	background: white;
	color: black;
	border: none;
	padding: 14px 28px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
	transition: background 0.3s ease-in-out;
}

.download-button {
	outline: none;
	border: none;
}

.download-button:focus {
	outline: none;
	box-shadow: none;
}

.download-button:hover {
	background: #dcdcdcef;
}

.download-icon {
	font-size: 22px;
}
