.social-networks {
	display: flex;
	gap: 15px;
	padding-top: 10px;
}

.social-networks img {
	width: 24px;
	height: 24px;
	filter: brightness(0) invert(1);
	transition: transform 0.3s ease, opacity 0.3s ease;
	cursor: pointer;
}

.social-networks img:hover {
	transform: scale(1.2);
	opacity: 0.8;
}
